a.link-hov{
    color: white;
    -webkit-transition-duration: 0.4s;
    transition: 0.4s;
    text-decoration: underline;
}

a.link-hov:hover{
    color: green;
}

a.img {
  display: inline-block;
  margin-top: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
  position: relative;
}

a.img:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a.img {
    width: calc(33.3333% - 6px);
  }

  a.img:nth-of-type(2n) {
    margin-right: 8px;
  }

  a.img:nth-of-type(3n) {
    margin-right: 0;
  }
}

input.contact{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #808080;
    width: 100%;
}

textarea.contact{
    margin-top: 16px;
    padding: 8px;
    display: block;
    border: 1px solid #808080;
    width: 100%;
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
}

div.tag {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

div.splash-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 4em;
    z-index: 99999 !important;
}

nav.navbar{
    z-index: 999999 !important;
}

img.gravatar {
    border-radius: 5px;
    filter:grayscale(50%);
}

button.hover-btn{
    -webkit-transition-duration: 0.4s;
    transition: 0.4s;
    border: 2px solid black;
    background-color: black;
    color: white;
    margin-top: 30px;
}

button.hover-btn:hover{
    background-color: white;
    color: black;
}

footer{
    background-color: black;
    text-align: center;
    vertical-align:middle; color
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
}
